/*
 * Lists
 */
.bedard-webhooks.list td.url-column:hover {
    cursor: pointer;
    text-decoration: underline;
}

.bedard-webhooks.list i.icon {
    font-size: 14px;
    padding-right: 4px;
}

.bedard-webhooks.list i.icon-check {
    color: #95B753;
}

.bedard-webhooks.list i.icon-times {
    color: #CC3300;
}

.bedard-webhooks.list .callout i.icon-times {
    padding-right: 10px;
}

.bedard-webhooks.list .callout {
    padding: 0 20px;
}

/*
 * Forms
 */
.bedard-webhooks.form .tab-pane:not(:first-of-type) {
    padding: 20px 20px 0 20px !important;
}
